*{
    box-sizing: border-box;
}
html{
    border:0;
    margin:0;
}
body {
	margin: 0;
    font-family: arial, helvetica, sans-serif;
    font-size:1.2rem;
    border: 0 ;
}
img {
	max-width: 100%;
}
table, th, td {
    border: .1em solid black;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    text-transform:capitalize;
    padding: 1em;
    width: 100%;
  }
tr:nth-child(even) {
    background-color: #fff;
  }
tr:nth-child(odd) {
   background-color: #eee;
  }
th{
     background-color: #fff;
     text-transform:capitalize;
 }
 ol{
    text-transform: capitalize;
    padding:1em;
    margin-top:-1.2em;
}
h2{
    text-transform: uppercase;
}
nav, footer{
    display: flow-root;
    background-color: #2A2B32;
    padding:0 1em;
}
ul li{
    color:#000;
    line-height: 1.7em;
    font-size:1rem;
}
a {
    color: #FDBB48;
    padding:0;
    font-weight: bold;
    text-transform: capitalize;
 }
 li,p::first-letter {
    text-transform: capitalize;
   }
/* =================== start header ==================*/
.header{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ),url(../img/ingredients-1920w.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.header h1{
    margin-top:.1em;
    text-transform: capitalize;
}
li>data{
    background-color: #FDBB49;
    color: #000;
    padding: .1em 1em;
 }
.header ul>li{
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
}
.header ul{
    padding-left:0;
}
.top-header{
    padding: 1em 1em;
    display: flow-root;
    color: rgba(255, 255, 255, 0.8);
}
.top-baking{
    background-color: #FDBB49;
    color: #000;
    display: inline-block;
    margin-bottom:.6em;
    padding:0.2em
}
/* ==================== end header ===================*/
/* =================== start main ===================*/
main {
    display:flow-root;
    background-color: rgb(255, 255, 255);
    padding:0 1em;
    box-shadow:0px 20px 50px 15px #000;  
 }
 .navigation{
     margin:0 -1em;
     padding:0;
 }
.navigation ul {
    padding-left:1em;
    list-style-type: none;
}
.navigation ul li>a{
    text-decoration:none;
 }
blockquote {
padding: 1em;
border-left:.3em solid #FFBC48;
margin:0 0 1.5em 0em;
box-shadow:
        inset 0 -3em 3em rgba(0,0,0,0.1),
            0 0  0 2px rgb(255,255,255),
            0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.content{
    display:grid;
    column-gap:1em;
}
.grams{
    background-color:#FFBC48;
    border: 2px solid black;
    border-radius: 1em;
    padding:.1em;
    position: relative;
    z-index: 2;
    font-weight: bold;
}
.lbs{
    background-color:#fff;
    border: 2px solid #ccc;
    border-radius: 1em;
    padding:.1em .2em .1em .8em;
    margin-left:-15px;
    z-index: 1;
    font-weight: bold;
}
/* ============== end main =====================*/
/* ============== start footer ================*/
footer{
    color:#fff;
    margin:0 -1em;
    display:flex;
    justify-content: space-between;
}
footer nav ul{
    display:flex;
    padding:0;
    list-style-type: none;
}
footer nav ul li:nth-of-type(2){
    margin-left: .7em;
    padding-left:.8em;
    border-left:2px solid #fff;
}
.media-logo{
    display: flex;
    align-items: center;
    gap: 12px;
}
.social-media{
    width: 2rem;
}
.footer-nav>p{
    margin:1.2em 0 .2em 0;
}
.footer-nav>ul{
    margin:.2em 0 1em 0;
}
.footer-nav{
    padding-left: 0;
}
/* =================== end footer ====================*/
/* ================== start media queries ============*/
@media only screen and (min-width: 850px) {
    /* For Desktop: */
    
    body{
        background: #4e4237 url(../img/background-wood.jpg) center top repeat;
        font-family: arial, helvetica, sans-serif;
        font-size:.9rem;
    }
    header ul>li{
        font-size:.8em;
    }
    main, .top-header{
        padding:0;
        width:60em;
        margin:0em auto;
    }
    .top-header p{
        line-height: 1em;
        font-size:1.2em;
    }
    main{
        margin-top:-3em;
    }
    .content{
        grid-template-columns:1fr 2fr;
        grid-template-areas:
        "sidebar1 storybar"
        "sidebar1 processbar"
        "sidebar1 footerbar"
        "sidebar1 ."
        "sidebar1 ."
        "sidebar1 ."
        "sidebar1 ."
    }
    /*======= Start sidebare ==========================*/
    .sidebar{
        text-align: center;
        grid-area:sidebar1;
        background-color:#FFBC48;
    }
    .navigation{
        font-size:.5em;
        margin:0 0 0 -2em ;
        }
    .navigation ul{
        display: flex;
        justify-content: space-evenly; 
        padding: 1em 2em;
    }
    .navigation>ul>li{
        text-align: center;
        margin:0 0.8em;
    }
    .time{
        justify-content: center;
    }
    .time ul{
        display:flex;
        justify-content: space-between;
        margin:2em 0 4em 0;
        font-weight: bold;
        font-size:1.2em;
        padding-left:0;
    }
    .time>ul>li{
        text-align: center;
        justify-content: space-between;
    }
    .time>ul>li>span{
        display:block;
    }
    .sidebar section{
        display:inline-block;
        margin:0px auto;
        justify-content: center;
        text-align: left;
    }
    /*============ End sidebare ==========================*/
    .indent{
        padding-right:1em;
    }
    footer{
        color:#fff;
        margin:0 0 0 -1em;
    }
}
/* ================== End media queries ============*/
